<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" routerLink="home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" routerLink="/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" routerLink="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" routerLink="/team">Teams</a>
  </li>
</ul>
