<div class="container-fluid text-center justify-content-center">
  <h1>Login</h1>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <button (click)="login(username, password)"
          class="btn btn-primary btn-block">
    Login
  </button>
  <p>

  </p>
  <a class="btn btn-success btn-block" routerLink="/register">Register</a>
  <a class="btn btn-success btn-block" routerLink="/home">Home</a>
</div>
