<app-navbar></app-navbar>
<div class="container-fluid">
  <br>
  <br>
  <div class="botLine">
    <h1 class="text-center pagination-center">{{team.name}}</h1>
    <button (click)="joinTeam()"
            class="btn btn-success center">
      Join Team
    </button>
    <br>
    <br>
  </div>
  <div class="container-fluid">
    <br>
    <h2>Members:</h2>
    <br>
    <div *ngFor="let runner of runners">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            Runner : {{runner.runner.firstName}} {{runner.runner.lastName}}
          </div>
          <div class="col-sm">
            Mileage : {{runner.weeklyMileage}}
          </div>
          <div class="col-sm">
            Average Pace/Mile: {{runner.avgPace}} mins/mile
          </div>
        </div>
      </div>
      <br>
      <p><ngb-progressbar [striped]="true" type="warning" [value]="runner.weeklyMileage" [animated]="true"></ngb-progressbar></p>
      <br>
    </div>
  </div>
</div>



