.verticalLine {
  border-left: thin solid #ffebfa;
}

.circle {
  margin-left: 250px;
  margin-right: 200px;
}

.topLine {
  border-top: thin solid #ffebfa;
}

.botLine {
  border-bottom: thin solid #ffebfa;
}

.moveDown {
  margin-top: 40px;
}

.botGreen {
  border-bottom: thin solid #00ffd4;
}
