<div class="container-fluid ">
  <br>
  <h1 class="text-center">Log new run</h1>
  <br>
  <br>
  <input [(ngModel)]="run.title"
         placeholder="Run Title"
         class="form-control"/>
  <br>

  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </form>

  <br>

  <input [(ngModel)]="run.distance"
         placeholder="Length of run (miles)"
         class="form-control"/>
  <input [(ngModel)]="run.duration"
         placeholder="Duration of run (minutes)"
         class="form-control"/>
  <br>
  <div class="input-group">
    <textarea  [(ngModel)]="run.description"
               class="form-control"
               aria-label="With textarea"
               rows="5"
               placeholder="Enter a run description!"
    ></textarea>
  </div>

  <button  (click)="send()"
           class="btn btn-success btn-block">
    Save Run
  </button>
  <a class="btn btn-danger btn-block" routerLink="/profile">Cancel</a>

</div>
