<app-navbar></app-navbar>
<div class="container-fluid ">
  <br>
  <h1 class="text-center">Log new run</h1>
  <h6>Title</h6>
  <input [(ngModel)]="run.title"
         placeholder="Run Title"
         class="form-control medium"/>
  <br>

  <h6>Date of Run</h6>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control medium" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
            <img src="fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
  </form>

  <br>

  <h6>Run Distance:</h6>
  <input [(ngModel)]="run.distance"
         placeholder="Length of run (miles)"
         class="form-control medium"/>
  <br>
  <h6>Run Duration (Minutes)</h6>
  <input [(ngModel)]="run.duration"
         placeholder="Duration of run (minutes)"
         class="form-control medium"/>
  <br>
  <h6>Description</h6>
  <div class="input-group">
    <textarea  [(ngModel)]="run.description"
               class="form-control"
               aria-label="With textarea"
               rows="2"
               placeholder="Enter a run description - How was it? Was the weather good?"
    ></textarea>
  </div>
  <br>
  <h6>Route</h6>
  <select [(ngModel)]="run.route" class="custom-select form-control medium" id="inlineFormCustomSelect">
    <option selected>Choose...</option>
    <option *ngFor="let segment of segments" value="{{segment.stravaId}}">{{segment.name}}</option>
  </select>
  <br>
  <br>

  <button (click)="send()"
           class="btn btn-success">
    Save Run
  </button>
  <a class="btn btn-danger" routerLink="/profile">Cancel</a>

</div>
