<div>
  <!-- Navigation bar based on Bootswatch @ https://bootswatch.com/darkly/ -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <a class="navbar-brand btn btn-success mr-auto p-2" routerLink="">RunSmart</a>
    <a class="navbar-brand btn btn-success p-2" routerLink="/login">Login</a>
    <a class="navbar-brand btn btn-success p-2" routerLink="/register">Register</a>
    <a class="navbar-brand btn btn-success p-2" routerLink="/findRoutes">Search Routes</a>
  </nav>
  <div class="container-fluid">
    <h1 class="text-center pagination-centered">
      RunSmart
    </h1>
  </div>

  <div class="row">
    <div class="col-md-4">
      <p>
        Test Left
      </p>
    </div>
    <div class="col-md-8">
      <p>
        Test right
      </p>
    </div>
  </div>


</div>
