<div>
  <!-- Navigation bar based on Bootswatch @ https://bootswatch.com/darkly/ -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
    <a class="navbar-brand btn btn-success mr-auto p-2" routerLink="">RunSmart</a>
    <a class="navbar-brand btn btn-success p-2" routerLink="/login">Login</a>
    <a class="navbar-brand btn btn-success p-2" routerLink="/register">Register</a>
    <form class="form-inline my-2 my-lg-0 p-2">
      <input class="form-control mr-sm-3" type="text" placeholder="Enter City Name">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search City Routes</button>
    </form>
  </nav>
  <div class="container-fluid">
    <h1 class="text-center pagination-centered">
      The best way to run. Period. &nbsp;
    </h1>
  </div>


  <div class="row">
    <div class="col-md-4">
      <p>
        Test Left
      </p>
    </div>
    <div class="col-md-8">
      <p>
        Test right
      </p>
    </div>
  </div>


</div>
