.topLine {
  border-top: thin solid #ffebfa;
}

.botLine {
  border-bottom: thin solid #ffebfa;
}

.verticalLine {
  border-left: thin solid #ffebfa;
}

.botPad {
  padding-bottom: 5px;
}
h1 {
  font-size : 80px;
}

