<app-navbar></app-navbar>
<div class="container text-center">
  <div>
    <h1>Register</h1>
  </div>
  <br>
  <br>
  <br>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"/>
  <br>
  <button (click)="register(username, password, password2)"
          class="btn btn-success btn-block">
    Register
  </button>


</div>
