<div class="container-fluid text-center">
  <div>
    <h1>Register</h1>
  </div>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="password"
         placeholder="password"
         class="form-control"/>
  <input [(ngModel)]="password2"
         placeholder="verify password"
         class="form-control"/>
  <fieldset class="form-group">
    <legend>I am a:</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input [(ngModel)]="type" type="radio" class="form-check-input" value="runner" id="optionsRadios1" checked="">
        Runner
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input [(ngModel)]="type" type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="coach">
        Coach
      </label>
    </div>
  </fieldset>
  <button (click)="register(username, password, password2)"
          class="btn btn-primary btn-block">
    Register
  </button>
  <a class="btn btn-primary btn-block btn-success" routerLink="/home">Home</a>



</div>
